@import url('fonts.css');

:root {

}

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background: #d8d8d8;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}

.header {
    width: 100%;
    background: #252525;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: #f5f5f7;
}

.logo {
    margin: 0;
}

.product__container h2 {
    color: #000000;

}
p span {
    font-size: 9px;
    font-weight: 400;
    padding: 0 0 0 0;
}

p {
    font-size: 12px;
}

.circle {
    font-size: 9px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
    bottom: -13px;
    width: 15px;
    height: 15px;
    color: #ffffff;
    background: #ff8b38;
    border-radius: 50%;
}

.button {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 270px;
    background-color: #ff8b38;
    border: 2px solid #ff8b38;
    color: #ffffff;
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0;
}


.product_img {
height: 115px;
padding: 15px 20px 15px 15px;
margin: 0;
}
.product_image {
margin: 0;
}
.product__container {
background-color: #ffffff;
height: 145px;
width: 900px;
border-radius: 6px;
margin-top: 30px;
flex-wrap: wrap;
display: flex;
position: relative;
}

.product_value {
height: 80px;
margin: 0;
padding: 28px 0 0 0;
}

.product_title {
padding: 0 0 20px 0;
}

.product_cost {
position: absolute;
right: 15px;
bottom: 15px;
}

.product_cost__info{
text-align: right;
padding: 0 0 5px 0;
}

.search__field {
width: 400px;
height: 25px;
border-style: none;
border-radius: 3px;
}

.basket {
width: 70px;
height: 53px;
}


.sort-value {
font-size: 12px;

}

.change_value {
cursor: pointer;
}
.sort-elements {
border-radius: 4px;
background-color: #ffffff;
}
._sort {
height: 20px;
padding: 6px;

}
.wrap {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 16px;
font-weight: 600;
padding: 15px;
margin-top: 20px;
}

.amount {
font-size: 9px;
text-transform: lowercase;
color: #c1c1c2;
}